<!-- <div style="text-align:center"><h3>Mritunjay Text Editor</h3></div> -->
<div class="container-fluid" style="overflow-x:hidden">

  <!-- Navbar -->
  <div class="row" >
    <div class="col navbar">
      Admin Name
    </div>
  </div>

  <!-- titlebar -->
  <div class="row">
    <div class="col" style="padding: 0px;">
        <div class="col" style="background-color:#008e52;width:100vw;">
            <p style="text-align: center;
            font-size: xx-large;
            font-weight: 300;
            padding: 0px;
            color:white;
            margin-top:11vh;
            margin-bottom:0px;
            ">Template Editor</p>
          </div>
    </div>
  </div>

  <!-- editor and question -->
  <div class="row" style="background-color: #008e52;">
    <div class="col-3" style="background-color: white;height: 94vh;overflow-y: auto;    overflow-x: hidden;">
      <div class="row">
        <ol>
          <div *ngFor="let question of questions ; let i=index">
            <li>
              <p class="fontcheck" (click)="questionCollapse(i)" draggable="true" (dragstart)="onQuestionDragEvent($event)" id="question{{i+1}}"> question {{i+1}}? </p>
              <div id="demo{{i+1}}" class="collapse">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Group Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Lender Group //Typeahead">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Input Type</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="eg DateField">

                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Input Options</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="eg Person or Componay">

                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Attribute attached</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="eg <#lender_type#>">

                  </div>
                </form>
              </div>
            </li>

          </div>
        </ol>
        <div style="position: fixed;top: 95vh;left: 9vw;">
          <button class="btn btn-primary" (click)="addQuestion()">Add Question</button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <!-- <div class="panel__top">
        <div class="panel__basic-actions"></div>
      </div> -->
      <div id="gjs"></div>
    </div>
  </div>

</div>
<!-- <div id="blocks"></div> -->


<router-outlet></router-outlet>
